{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	| Home
{% endblock %}

{% block body %}
	<section clas="mt-5">
		<div class="container my-5">
			<div class="row align-items-start">
				<div class="col">
					<div class="jumbotron text-center text-md-start mt-5">
						<div class="row align-items-center">
							<div class="col-12 col-md-6 order-1 order-md-0 mt-3 mt-md-0">
								<h1 class="display-4">Welcome</h1>
								<p class="lead">Welcome to Berlioz Cuistock</p>
								<hr class="my-4">
								<p>To start, you probably add recipes with one principal ingredient :</p>
								<form method="post" action="fetchRecipes">
									<label for="ingredient" class="form-label"/>
									<input type="text" id="ingredient" name="ingredient" class="form-control mb-3" placeholder="One ingredient">
									<div class="col-12 d-flex justify-content-center justify-content-lg-start">
										<button type="submit" class="btn btn-primary">Add Recipes</button>
									</div>
								</form>
							</div>
							<div class="col-6 mx-auto me-md-0 col-md-5 px-md-5 order-0 order-md-1">
								<img src="{{ asset('images/logo.svg') }}" id="logo" alt="Cuistock logo">
							</div>
						</div>
					</div>
				</div>
				{% for item in data %}
					<p>{{ item }}</p>
				{% endfor %}
				<div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4 justify-content-center">
					{% for recipe in recipes %}
						<a href="{{ path('recipe', {'id': recipe.id}) }}" class="card-link text-decoration-none">
							<div class="card bg-dark">
								<img src="{{ recipe.image ?: asset('images/placeholder.webp') }}" class="card-img" alt="{{ recipe.title }}">
								<div class="card-img-overlay">
									<h5 class="card-title text-white">{{recipe.title}}</h5>
								</div>

							</div>
						</a>
					{% endfor %}
				</div>
			</div>
		</section>
	{% endblock %}
