{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	| Recipes
{% endblock %}

{% block body %}
	<h1>Recipes</h1>
	<div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4 justify-content-center">
		{% for recipe in recipes %}
			<a href="{{ path('recipe', {'id': recipe.id}) }}" class="card-link text-decoration-none">
				<div class="card bg-dark">
					<img src="{{ recipe.image ?: asset('images/placeholder.webp') }}" class="card-img" alt="{{ recipe.title }}">
					<div class="card-img-overlay">
						<h5 class="card-title text-white">{{recipe.title}}</h5>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
